nav {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #082032;
  color: #fff;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
  font-weight: 500;
}

nav ul li:hover {
  color: #FF4C29;
}